RewriteEngine on
ErrorDocument 404 /development/error.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php
RewriteRule ^post/([0-9]+) post.php?id=$1 [NC,L]
RewriteRule ^tour/([-a-z]+) tour.php?id=$1 [NC,L]
RewriteRule ^cron/([-a-z]+) cron.php?id=$1 [NC,L]
